version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: risk_analysis_db
    environment:
      POSTGRES_USER: risk_user
      POSTGRES_PASSWORD: risk_password
      POSTGRES_DB: risk_analysis
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
